DATABASE_URL="postgresql://user:password@localhost:5432/karyadhara?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"

# Google OAuth - https://console.cloud.google.com/apis/credentials
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# GitHub OAuth - https://github.com/settings/developers
GITHUB_ID=""
GITHUB_SECRET=""
